/* Specifics fonts */
@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
}




/* Generals elements */

* {
    font-family: "RalewayBold", Arial, serif;
}

.icons {
    height: 20px;
    width: 20px;
}

.layout {
    max-width: 1330px;
    margin: auto;
}

body {
    margin: 0;
}

h1 {
    font-size: 1.3em;
    margin: 50px 0 0 0;
}

h2 {
    font-size: 1.1em;
    margin: 0;
}

h3 {
    font-size: 1.0em;
    margin: 12px 0 0 0;
}

h4 {
    font-family: "RalewayRegular", Arial, serif;
    font-size: 1.0em;
    margin: 12px 0 0 0;
}

p {
    font-family: "RalewayRegular", Arial, serif;
    font-size: 0.9em;
    margin: 12px 0 0 0;
}




/* Links */

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0065FC;
    font-weight: bold;
}

a:focus {
    outline: none;
    color: #0065FC;
    font-weight: bold;
    text-decoration: underline;
}




/* Header */

.logo {
    margin-top: 50px;
}

.registration {
    color: #0065FC;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

nav a {
    padding-top: 50px;
    font-size: 1em;
}

nav a:hover {
    padding-top: 48px;
    border-top: 2px #0065FC solid;
}




/* Search zone */

.search {
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
}

.search div {
    height: 50px;
    width: 50px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_txt {
    font-size: 1.0em;
    height: 46px;
    width: 235px;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.search_but {
    font-size: 1.1em;
    color: white;
    padding: 0 15px;
    background-color: #0065FC;
    height: 50px;
    border-radius: 0 15px 15px 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.search_but:active {
    outline: none;
    background-color: #DEEBFF;
    color: #0065FC;
}

.search_but:hover {
    outline: none;
    background-color: #DEEBFF;
    color: #0065FC;
}

.search_but:focus {
    outline: none;
    background-color: #DEEBFF;
    color: #0065FC;
}




/* Filters zone */

.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.button {
    display: flex;
    align-items: center;
    height: 50px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin: 10px 12px;
    font-size: 1.1em;
    background-color: white;
    padding: 0 15px 0 0;
    cursor: pointer;
}

.icon_bg {
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -2px;
    margin-right: 10px;
}

.button:active {
    outline: none;
    background-color: #DEEBFF;
    color: #0065FC;
}

.button:hover {
    outline: none;
    background-color: #DEEBFF;
    color: #0065FC;
}

.button:focus {
    outline: none;
    background-color: #DEEBFF;
    color: #0065FC;
}




/* Informationnal row */

.infos {
    display: flex;
    align-items: center;
}

.infos .icons {
    height: 25px;
    width: 25px;
    margin: 12px 10px 0 0;
}




/* Blocs gestion */

.bloc {
    margin-top: 40px;
    padding: 0 10px 5px 40px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.top_bloc {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.center_bloc {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.bottom_bloc {
    font-size: 1.0em;
}




/* Tiles gestion */

.tiles {
    background-color: white;
    border-radius: 20px;
    border: 5px white solid;
    margin: 0 30px 30px 0;
    flex: 1;
    display: flex;
}

.illustration {
    flex: 1;
}

.photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
}

.stars {
    height: 10px;
    margin: 12px 0 7px 0px;
    align-self: flex-start
}




/* Implementation */

.main {
    display: flex;
    justify-content: space-between;
}

/* --> Hosts */

.host_bloc {
    flex: 2;
    margin-right: 40px;
}

.host_bloc .tiles {
    flex-direction: column;
    min-width: 200px;
    box-shadow: 5px 5px 10px #e3e3e3;
}

.host_bloc .illustration {
    max-height: 120px;
}

.host_bloc .photo {
    border-radius: 15px 15px 0 0;
}

/* --> Popular */

.pop_bloc {
    flex: 1;
}

.pop_bloc header {
    margin: 0 30px 0 0;
}

.pop_bloc .tiles {
    flex-direction: row;
    min-width: 300px;
    box-shadow: 5px 5px 10px #e3e3e3;
}

.pop_bloc .illustration {
    width: 140px;
    height: 140px;
}

.pop_bloc .photo {
    border-radius: 15px 0 0 15px;
}

.pop_bloc .description {
    flex: 1.5;
}

/* --> Activity */


.activity_bloc section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    height: 450px;
}

.activity_bloc .group {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.activity_bloc .group:not(:last-child) {
    margin-right: 30px;
}

.activity_bloc .tiles {
    flex-direction: column;
    margin: 0;
    padding-bottom: 20px;
    box-shadow: 5px 5px 10px #f2f2f2;
    border: none;
}

.activity_bloc .group .tiles:not(:last-child) {
    margin: 0 0 30px 0;
}

.activity_bloc .illustration {
    flex: auto;
}

.activity_bloc .photo {
    border-radius: 15px 15px 0 0;
}

.activity_bloc .description {
    flex: 0;
}




/* Footer */

footer {
    background-color: #f2f2f2;
}

footer .layout {
    display: flex;
    padding: 50px 0;
    margin-top: 50px;
}

.part {
    flex: 1;
}
footer ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

footer li {
    margin-top: 10px;
    font-size: 1.0em;
}